@font-face {
    font-family: NanumSquareOTF;
    src: url('../../styles/fonts/NanumSquareOTFR.ttf') format('truetype');
  }

.mysite {
    background: rgb(44, 1, 84);
	width: 100%;
	height: auto;
	padding-bottom: 3rem;
	display: flex;
	justify-content: center;
	place-items: center;
	margin-left: 4rem;

    .title {
        width: 150px;
        height: 50px;
        padding-top: 5rem;
        color: white;
        display: flex;
        justify-content: center;
        font-family: NanumSquareOTF;
        font-size: 2.1rem;
        font-weight: 800;
        border-bottom: 3px solid white;
    }
}