@font-face {
	font-family: SFProDisplay;
	src: url('../styles/fonts/SFPRODISPLAYREGULAR.ttf') format('truetype');
}

@font-face {
	font-family: NanumSquareOTF;
	src: url('../styles/fonts/NanumSquareOTFR.ttf') format('truetype');
}

@media only screen and (min-width: 877.8px) {
	.Nav {
		background-color: white;
		width: 100%;
		margin-top: -0.7rem;;
		height: 4.9rem;
		border: 1px solid rgba(0,0,0,.1);
		display: flex;
		position: fixed;
		z-index: 99999;
		padding-right: 5rem;

        .menu-list {
            display: none;
        }

		.Nav-left {
			padding-top: 32px;
			width: 70%;
			display: flex;
			justify-content: center;

			.Nav-title {
				// font-size: 16px;
				font-size: 1rem;
				display: flex;
				font-weight: 800;
				font-family: NanumSquareOTF;
			}
		}

		.Nav-center {
			width: 20%;
		}

		.Nav-right {
			padding-top: 32px;
			width: 50%;
			display: flex;
			justify-content: center;

			.Nav-menu {
				// font-size: 16px;
				font-size: 1rem;
				display: flex;
				font-weight: 600;
				padding-right: 42px;
				cursor: pointer;
				font-family: SFProDisplay;
			}

			.hamburger {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 878px) {
	.Nav {
		background-color: white;
		width: 100%;
		margin-top: -0.7rem;;
		height: 4.9rem;
		border: 1px solid rgba(0,0,0,.1);
		display: flex;
		position: fixed;
		z-index: 99999;
		padding-right: 5rem;

		.menu-list {
			position: absolute;
			width: 100%;
			margin-top: 3.56rem;
			height: auto;
			background-color: white;
			display: table;
			border-bottom: 1px solid rgba(0,0,0,.1);
            padding-left: 6rem;

			.menu-title {
				font-size: 1rem;
				display: table;
				padding: 0.75rem 0;
				font-weight: 700;
				cursor: pointer;
				color: #6c757d;
				line-height: 1.25rem;
			}
		}

		.Nav-left {
            padding-top: 1.7rem;
			width: 80%;
			display: flex;
			padding-left: 6.5rem;

			.Nav-title {
				font-size: 1rem;
				display: flex;
				font-weight: 800;
				font-family: NanumSquareOTF;
				color: black;
			}
		}

		.Nav-center {
			// width: 10%;
		}

		.Nav-right {
            padding-top: 2rem;
			width: 30%;
			display: flex;
			justify-content: center;
			// margin-right: 1.8rem;

			.Nav-menu {
				display: none;
			}

			.hamburger {
				width: 1rem;
				height: 1rem;
				cursor: pointer;
			}
		}
	}
}
