.image-slider {
	position: relative;
	width: 680px;

	.slick-slider {
		.slick-dots {
			.slick-active {
				button::before {
					color: white;
				}
			}
			button::before {
				color: gray;
			}
		}
		.slick-list {
			margin-left: 140px;
			.slick-track {
				width: 960px;
			}

			.profile-image {
				width: 400px;
				height: 415px;
				cursor: pointer;
				border-radius: 100%;
				border: 1px solid black;
			}
		}
	}
}

.nextButton {
	position: absolute;
	margin-top: -220px;
	margin-left: 580px;
	cursor: pointer;
	color: white;
}

.prevButton {
	position: absolute;
	margin-top: 200px;
	margin-left: 40px;
	cursor: pointer;
	color: white;
}
